html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* start editing from here */

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}


/* text align right */

.txt-lt {
    text-align: left;
}


/* text align left */

.txt-center {
    text-align: center;
    /*-- W3Layouts --*/
}


/* text align center */

.float-rt {
    float: right;
}


/* float right */

.float-lt {
    float: left;
}


/* float left */

.clear {
    clear: both;
}


/* clear float */

.pos-relative {
    position: relative;
}


/* Position Relative */

.pos-absolute {
    position: absolute;
}


/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}


/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}


/* vertical align top */

nav.vertical ul li {
    display: block;
}


/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}


/* horizontal menu */

img {
    max-width: 100%;
}


/*--- end reset code ---*/

body {
    background-image: url("./images/sun.png");
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    font-family: 'Lato', sans-serif;
}

img.w3layouts {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.content-w3ls {
    width: 50%;
    margin: auto;
    background-color: #ffffff10;
}

.content-w3ls .content1-agile {
    width: 70%;
    float: center;
}

.info-w3l {
    padding: 30px 40px;
}

h2.wthree {
    font-size: 25px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.form_w3layouts span {
    width: 22%;
    padding: 12px 10px;
    display: inline-block;
    color: #fff;
    display: inline-block;
    font-size: 1em;
}

.agile_form input[type=text] {
    padding: 0.8em 1em;
    color: rgb(44, 39, 39);
    font-size: 1em;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgb(68, 39, 39);
    -webkit-appearance: none;
    width: 87%;
    font-family: 'Lato', sans-serif;
}

.agile_form input[type=email] {
    padding: 0.8em 1em;
    color: rgb(44, 39, 39);
    font-size: 1em;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgb(68, 39, 39);
    -webkit-appearance: none;
    width: 87%;
    font-family: 'Lato', sans-serif;
}

option {
    background: #ffffff08;
}

input.email {
    float: right;
}

input.username,
.checkin,
.checkout {
    float: left;
}

.section_class_agileits select,
.country select {
    border: none;
    outline: none;
    font-size: 1em;
    background: rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgb(165, 165, 165);
    padding: 0.8em 1em;
    color: #fff!important;
    -webkit-appearance: none;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.section_class_agileits {
    float: left;
    width: 48%;
    margin-top: 1em;
}

.section_class_agileits.s2-w3ls,
.agileits-left.s2-w3ls {
    margin-left: 1em;
}

.section_class_agileits.s2-w3ls {
    margin-left: 1em;
}

.country select {
    width: 100%;
    background: #c075da;
}

.agileits-left {
    margin: 1em 0 0.2em;
    width: 48.4%;
    float: left;
}

.agileits-left.check h2 {
    color: #fff;
    font-size: 1em;
    display: inline-block;
    background: #640712;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, rgb(142, 126, 128), #640712);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, rgb(142, 126, 128), #640712);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, rgb(142, 126, 128), #640712);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, rgb(142, 126, 128), #640712);
    /* Standard syntax (must be last) */
    padding: 0.5em;
    margin: 1em 0;
    text-transform: capitalize;
}

.form_w3layouts {
    padding: 2em 3em;
}

.date {
    background: rgba(0, 0, 0, 0.15) !important;
    cursor: pointer;
}

.submit input[type=submit] {
    color: #fff;
    padding: 0.8em;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background: #640712;
    outline: none;
    margin: 1.5em 0 0;
    font-weight: 400;
    text-transform: capitalize;
    width: 34%;
    border: none;
    font-family: 'Lato', sans-serif;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.submit input[type=submit]:hover {
    background: #fff;
    color: #000;
}

.button input[type=button] {
    color: #fff;
    padding: 0.8em;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background: #640712;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    font-weight: 400;
    text-transform: capitalize;
    border: none;
    font-family: 'Lato', sans-serif;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.button input[type=button]:hover {
    background: #fff;
    color: #000;
}

input::-webkit-input-placeholder {
    color: #fff !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: #fff !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff !important;
}

input:-ms-input-placeholder {
    color: #fff !important;
}

textarea::-webkit-input-placeholder {
    color: #fff !important;
}

textarea::-moz-placeholder {
    /* Firefox 18- */
    color: #fff !important;
}

textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff !important;
}

textarea::-ms-input-placeholder {
    color: #fff !important;
}

.check {
    margin: 1em 0 0.5em;
}

.checkbox {
    position: relative;
    padding-left: 30px !important;
    cursor: pointer;
}

.checkbox i {
    position: absolute;
    bottom: 3px;
    left: 0;
    display: block;
    width: 10px;
    height: 10px;
    outline: none;
    border: 2px solid #EDEDED;
    background: #fff;
}

.check label {
    margin: 0.8em 0em 0.8em 0;
    font-size: 1em;
    color: #fce9e2;
    display: block;
    width: 60%;
}

.checkbox input+i:after,
.radio input+i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}

.checkbox input:checked+i:after,
.radio input:checked+i:after {
    opacity: 1;
}

.checkbox input,
.radio input {
    position: absolute;
    left: -9999px;
}

.checkbox input+i:after {
    content: '';
    background: url("../images/check.png") no-repeat 1px;
    width: 15px;
    height: 12px;
    font: normal 12px/16px FontAwesome;
    text-align: center;
}


/* //form */

p.copyright-agileits {
    font-size: 1em;
    color: #fff;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 2em;
    line-height: 1.5;
}

p.copyright-agileits a {
    color: #fff;
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

p.copyright-agileits a:hover {
    color: #8b7679;
}


/*-- responsive design --*/


/* -- Responsive code -- */

@media screen and (max-width: 1440px) {
    .content-w3ls {
        width: 79%;
    }
}

@media screen and (max-width: 1366px) {
    .content-w3ls .content1-agile {
        width: 57%;
    }
}

@media screen and (max-width: 1280px) {
    .form_w3layouts {
        padding: 2em 2em;
    }
    .content-w3ls .content1-agile {
        width: 68%;
    }
}

@media screen and (max-width: 1080px) {
    .agileits-left {
        width: 100%;
    }
    .agile_form textarea {
        width: 95%;
    }
    .section_class_agileits.s2-w3ls,
    .agileits-left.s2-w3ls {
        margin-left: 0;
    }
    .section_class_agileits {
        width: 44.5%;
    }
    .section_class_agileits {
        width: 100%;
    }
    .agile_form input[type=text],
    .agile_form input[type=email] {
        width: 92%;
    }
    .content-w3ls .content1-agile {
        width: 56%;
    }
    .agile_form textarea {
        width: 94%;
    }
}

@media screen and (max-width: 1024px) {
    .agile_form input[type=text],
    .agile_form input[type=email] {
        width: 91%;
    }
}

@media screen and (max-width: 991px) {
    h1.w3layouts {
        font-size: 2.8em;
    }
}

@media screen and (max-width: 900px) {
    .agile_form textarea {
        width: 93%;
    }
    .agile_form input[type=text],
    .agile_form input[type=email] {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .content-w3ls {
        width: 86%;
    }
}

@media screen and (max-width: 768px) {
    .content-w3ls {
        width: 89%;
    }
}

@media screen and (max-width: 667px) {
    .content-w3ls .content1-agile {
        width: 100%;
    }
    .content-w3ls {
        width: 78%;
    }
    .agile_form input[type=text],
    .agile_form input[type=email] {
        width: 93%;
    }
}

@media screen and (max-width: 640px) {
    h1.w3layouts {
        font-size: 2.7em;
    }
    .agile_form input[type=text],
    .agile_form input[type=email] {
        width: 92%;
    }
}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 568px) {
    .agile_form input[type=text],
    .agile_form input[type=email] {
        width: 91%;
    }
    h1.w3layouts {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 480px) {
    h1.w3layouts {
        font-size: 2.3em;
    }
    .content-w3ls {
        width: 85%;
    }
    .agile_form input[type=text],
    .agile_form input[type=email] {
        width: 90%;
    }
}

@media screen and (max-width: 414px) {
    h1.w3layouts {
        font-size: 2.1em;
    }
    .agile_form input[type=text],
    .agile_form input[type=email] {
        width: 88%;
    }
    .content-w3ls {
        width: 87%;
    }
}

@media screen and (max-width: 384px) {
    .agile_form input[type=text],
    .agile_form input[type=email] {
        width: 87%;
    }
    h1.w3layouts {
        font-size: 2em;
    }
}

@media screen and (max-width: 375px) {
    h1.w3layouts {
        font-size: 1.9em;
    }
}

@media screen and (max-width: 320px) {
    h1.w3layouts {
        font-size: 1.6em;
    }
    .content-w3ls {
        width: 95%;
    }
    .form_w3layouts {
        padding: 2em 1.5em;
    }
    p.copyright-agileits {
        font-size: 0.9em;
        padding: 2em 1em;
    }
}

span.starRating {
    margin: 5px 0 30px;
}

.starRating:not(old) {
    display: inline-block;
    width: 7.5em;
    height: 1.5em;
    overflow: hidden;
    vertical-align: bottom;
}

.starRating:not(old)>input {
    margin-right: -100%;
    opacity: 0;
}

.starRating:not(old)>label {
    display: block;
    float: right;
    position: relative;
    background: url('../images/star-off.png');
    background-size: contain;
}

.starRating:not(old)>label:before {
    content: '';
    display: block;
    width: 1.5em;
    height: 1.5em;
    background: url('../images/star-on.png');
    background-size: contain;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.starRating:not(old)>label:hover:before,
.starRating:not(old)>label:hover~label:before,
.starRating:not(:hover)> :checked~label:before {
    opacity: 1;
}